<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
     http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.1.xsd
	 http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.10.0.xsd ">

	<import resource="classpath*:spring-jms.xml" />

	<bean id="queueListenerContainerFactory"
		class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
		<property name="connectionFactory" ref="pooledConnectionFactory" />
		<property name="pubSubDomain" value="false" />
		<property name="subscriptionDurable" value="true" />
	</bean>

	<jms:listener-container destination-type="durableTopic"
		acknowledge="auto" client-id="mk_invest_${env.server.ip}"
		connection-factory="pooledConnectionFactory">
		<jms:listener destination="mk.invest" ref="investMessageListener"
			method="onMessage" />
	</jms:listener-container>

	<bean id="jmsLoggerAspect" class="my.comp.jms.logger.JmsLoggerAspect"></bean>
	<aop:aspectj-autoproxy>
		<aop:include name="jmsLoggerAspect" />
	</aop:aspectj-autoproxy>


</beans>
